<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Stockly{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('main.index') }}">Inicio</a>
        <a href="{{ url_for('inventario.inventario_home') }}">Inventario</a>
        <a href="{{ url_for('auth.login') }}">Login</a>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 Stockly</p>
    </footer>
</body>
</html>
